@import "common";
@media (max-width: 1199px) {
  // .shape {
  //   display: none;
  // }
  .wrp {
    width: calc((100% - 40px));
  }
  #profile {
    .wrp {
      .left {
        flex: 1;
        padding-right: 40px;
      }
      .right {
        .group {
          height: 760px !important;
        }
      }
    }
  }

  #header1 {
    .wrp {
      width: calc(100% - #{40px});
      align-items: center;
      .logo {
        img {
          height: 40px !important;
        }
      }
      #menu {
        overflow: auto;
        transform: none !important;
        opacity: 1 !important;
        position: fixed;
        width: 80vw;
        height: calc(100vh - #{53px});
        z-index: 21;
        padding: 0;
        background: #fff;
        color: #333;
        top: 53px;
        left: -100%;
        font-size: 20px;
        text-transform: uppercase;
        pointer-events: all !important;
        ul {
          z-index: 21;
          transition: 0.3s all ease-in-out;
          display: block;
          padding: 20px 0;
          .openSub {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            font-size: 20px;

            &.ac {
              i:before {
                content: "\f106";
              }
            }
          }
          li {
            display: flex;
            padding: 0 10px 0 20px;
            justify-content: space-between;
            &.active {
              background: $color-hover !important;
              color: #fff !important;
            }
            &:hover {
              a {
                color: #333 !important;
              }
            }
            a {
              background: transparent !important;
              &:after {
                display: none;
              }
              display: flex;
              padding: 10px 22px;
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              border-right: none;
              flex: 1;

              span.icon {
                width: 25px;
                display: inline-block;
                margin: 0;
                margin-right: 10px;

                img {
                  display: block;
                  margin: auto;
                }
              }
            }

            &:hover {
              > ul {
                display: none;
              }

              > a {
                background: transparent;
                color: #fff;
              }
            }
            flex-wrap: wrap;
            ul {
              text-transform: none;
              visibility: visible;
              opacity: 1;
              pointer-events: all;
              padding: 0;
              padding-left: 20px;
              transition: none;
              height: auto;
              display: none;
              width: 100%;
              position: static;
              background: transparent;
              li {
                a {
                  padding: 10px;
                  white-space: normal;
                  > i {
                    display: none;
                  }
                }
              }
            }
            .toggleSearch {
              display: none;
            }
          }
        }
        &.ac {
          left: 0;
        }
        .searchForm {
          display: block !important;
          position: static;
          opacity: 1 !important;
          margin-top: 10px;
          height: 40px;
          width: 100%;
          > div {
            width: 100%;
            .btnSearch {
              flex: none;
              color: #333;
            }
          }
        }
      }
    }
  }
  #iconService2 {
    pointer-events: all !important;
    transform: translate3d(0, -50%, 0) !important;
    opacity: 1 !important;
    .group {
      width: 100%;
      .item {
        > a .text {
          font-size: 11px;
          margin-top: 2px;
        }
      }
    }
    .toggleSearch {
      display: none;
    }
  }
  .openList {
    display: block;
    width: 20px;
    margin-left: 15px;
    hr {
      -moz-transition: 0.5s all ease-in-out;
      background: #333;
      border: 1px solid #333;
      transition: 0.5s all ease-in-out;
      z-index: 98;
      opacity: 1;
      margin: 5px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.ac {
      position: relative;
      z-index: 21;
      hr:nth-child(2) {
        opacity: 0;
      }
      hr:nth-child(1) {
        background: #333;
        border-color: #333;
        transform: rotate(135deg) translateX(0px) translateY(-7px);
      }
      hr:nth-child(3) {
        background: #333;
        border-color: #333;
        transform: rotate(-135deg) translateX(3px) translateY(10px);
      }
    }
  }
  #contactChat {
    display: none;
  }
  #footer {
    .wrp {
      width: calc(100% - 40px);
      .left {
        width: 37%;
        padding-right: 30px;
      }
      .right {
        .group {
          .nameCate {
            font-size: 15px;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .wrp {
    width: calc((100% - 20px));
    max-width: 960px;
  }
  #header {
    .wrp {
      .title {
        span {
          font-size: 60px;
        }
      }
    }
  }
  #whyAboutUs {
    .des {
      margin-bottom: 70px;
    }
    .group {
      .left {
        width: 250px;
      }
      .right {
        flex: 1;
        padding-left: 20px;
        > .item {
          width: calc((100% - 20px) / 2);
        }
        .lstBtn {
          left: 30px;
        }
      }
    }
  }
  #workProcess {
    margin-top: 70px;
  }
  #staff {
    .wrp {
      .group {
        gap: 40px;
        .item {
          width: calc((100% - 40px) / 2);
        }
      }
    }
  }
  #promise {
    .wrp {
      .group {
        padding: 0 20px;
        gap: 40px;
        flex-wrap: wrap;
        .item {
          width: calc((100% - 40px) / 2);
          flex: none;
        }
      }
    }
  }
  #contact {
    .wrp {
      .right {
        width: 340px;
      }
      .left {
        .cmTitle .title {
          font-size: 25px;
        }
        .price {
          .pRight {
            padding-left: 20px;
            .newPrice {
              font-size: 25px;
              padding: 5px 25px;
            }
          }
          .pLeft {
            .cownDown {
              li {
                line-height: 45px;
              }
            }
          }
        }
      }
    }
  }
  #profile {
    .wrp {
      .left {
        padding-right: 20px;
      }
      .right {
        .group {
          height: 530px !important;
        }
      }
    }
  }
  #footer {
    background-position: left top;
    font-size: 15px;
    .wrp {
      flex-direction: column;
      .left {
        margin-bottom: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          margin-bottom: 20px;
        }
        > div {
          display: flex;
          > div {
            flex: 1;
            padding-right: 30px;
          }
        }
        width: 100%;
      }
      .right {
        .group {
          .list {
            display: block;
            li a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #header {
    .wrp {
      .title {
        span {
          font-size: 30px;
        }
      }
      .afterTitle .text {
        font-size: 14px;
        margin-left: 0;
      }
      .des {
        font-size: 14px;
      }
      .lstBtn {
        margin-top: 30px;
      }
    }
  }
  %title {
    font-size: 30px;
  }

  #whyAboutUs {
    .wrp {
      padding-left: 0;
      padding-right: 0;
      .title {
        font-size: 22px;
      }
      .des {
        margin-bottom: 40px;
      }
      .group {
        flex-direction: column;
        .left {
          width: 100%;
          margin-bottom: 30px;
        }
        .right {
          flex: none;
          width: 100%;
          padding: 0;
          flex-direction: column;
          > .item {
            width: 100%;
            margin-top: 20px;
          }
        }
        .lstBtn {
          position: static;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
  #workProcess {
    .wrp {
      .title {
        font-size: 24px;
        height: 100px;
      }
      .group {
        padding: 20px;
        .item {
          .num {
            font-size: 16px;
            width: 35px;
            height: 35px;
          }
          .text {
            line-height: 1.4;
            padding-left: 8px;
            margin-top: -3px;
          }
        }
      }
    }
  }

  #staff {
    .wrp {
      .group {
        .item {
          width: 100%;
          margin-bottom: 70px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  #promise {
    padding-top: 40px;
    .wrp {
      .title {
        font-size: 25px;
      }
      .group {
        gap: 15px;
        .item {
          width: 100%;
        }
      }
    }
  }
  #gallery {
    padding-top: 20px;
    .wrp {
      flex-wrap: wrap;
      gap: 20px;
      .group {
        width: calc((100% - 20px) / 2);
      }
    }
  }
  #contact {
    padding: 30px 0;
    .wrp {
      flex-direction: column;
      .left {
        padding: 0;
        width: 100%;
        flex: none;
        .office {
          padding: 20px 10px;
        }

        .price {
          justify-content: center;
          margin-top: 20px;
          align-items: flex-end;
          gap: 15px;
          .pRight {
            padding-left: 0;
            .newPrice {
              font-size: 20px;
            }
            .oldPrice {
              margin-left: 10px;
            }
          }
          .pLeft {
            width: 180px;
            .cownDown {
              li {
                width: 40px;
                line-height: 40px;
                flex: none;
                font-size: 16px;
              }
            }
          }
        }
      }
      .right {
        margin-top: 40px;
        flex: none;
        width: 100%;
      }
    }
  }
  #profile {
    .wrp {
      .right {
        .group {
          height: 600px !important;
        }
      }
    }
  }
  #header1 {
    .wrp {
      width: calc(100vw - #{20px});
    }
  }
  #footer .wrp {
    width: calc(100vw - #{20px});
    .left {
      > div {
        width: 100%;
        flex-direction: column;
        > div {
          flex: none;
        }
      }
    }
    .right {
      flex-direction: column;
      .group {
        padding: 0;
        width: 100%;
        .nameCate {
          padding-bottom: 0;
          display: flex;
          justify-content: space-between;
          i {
            display: flex;
            width: 30px;
            align-items: center;
            justify-content: flex-end;
            &.active {
              &:before {
                content: "\f106";
              }
            }
          }
          &:after {
            display: none;
          }
        }
        .list {
          display: none;
          margin-bottom: 25px;
        }
        .workTime {
          font-size: 17px;
        }
      }
    }
  }
  #botMobile {
    padding: 0 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex !important;
    z-index: 20;
    gap: 5px;
    .btnBanner {
      background: $color-hover2;
      flex: 1;
      color: #fff;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      border-radius: 7px 7px 0 0;
      font-size: 13px;
      white-space: nowrap;
      font-weight: bold;
      span {
        margin-right: -1px;
        display: inline-block;
        &.in {
          -webkit-animation: ah-rotate-3-in 0.6s forwards;
          animation: ah-rotate-3-in 0.6s forwards;
        }
        &.out {
          -webkit-animation: ah-rotate-3-out 0.6s forwards;
          animation: ah-rotate-3-out 0.6s forwards;
        }
      }
    }
  }
  #afterFoot {
    padding-bottom: 50px;
  }
}
@media (max-width: 479px) {
  #profile {
    padding: 50px 0;
    .wrp {
      .title {
        font-size: 25px;
        height: 100px;
      }
      .content {
        flex-direction: column;
        .left {
          width: 100%;
          padding: 0;
          flex: none;
          margin-bottom: 30px;
          .btnDownloadProfile {
            margin-top: 30px;
            font-size: 20px;
            padding: 12px 0;
            .icon {
              img {
                height: 24px;
              }
            }
          }
        }
        .right {
          width: 100%;
          .group {
            height: 600px !important;
          }
        }
      }
    }
  }
  #project {
    padding-top: 30px;
    .wrp {
      padding-bottom: 40px;
      .title {
        font-size: 25px;
        .icon {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  #header1 {
    .wrp {
      #menu {
        ul {
          li {
            a {
              font-size: 15px;
              line-height: 20px;
              padding: {
                left: 0;
                right: 0;
              }
            }
            ul {
              li {
                a {
                  padding-top: 7px;
                  padding-bottom: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}
