@media (max-width: 1199px) {
  .wrp {
    width: calc(100% - 40px);
  }
}
@media (max-width: 991px) {
  .wrp {
    width: calc(100% - 20px);
    max-width: 960px;
  }
  #header .wrp .title span {
    font-size: 60px;
  }
  #whyAboutUs .des {
    margin-bottom: 70px;
  }
  #whyAboutUs .group .left {
    width: 250px;
  }
  #whyAboutUs .group .right {
    flex: 1;
    padding-left: 20px;
  }
  #whyAboutUs .group .right > .item {
    width: calc((100% - 20px) / 2);
  }
  #whyAboutUs .group .right .lstBtn {
    left: 30px;
  }
  #workProcess {
    margin-top: 70px;
  }
  #staff .wrp .group {
    gap: 40px;
  }
  #staff .wrp .group .item {
    width: calc((100% - 40px) / 2);
  }
  #promise .wrp .group {
    padding: 0 20px;
    gap: 40px;
    flex-wrap: wrap;
  }
  #promise .wrp .group .item {
    width: calc((100% - 40px) / 2);
    flex: none;
  }
  #contact .wrp .right {
    width: 340px;
  }
  #contact .wrp .left .cmTitle .title {
    font-size: 25px;
  }
  #contact .wrp .left .price .pRight {
    padding-left: 20px;
  }
  #contact .wrp .left .price .pRight .newPrice {
    font-size: 25px;
    padding: 5px 25px;
  }
  #contact .wrp .left .price .pLeft .cownDown li {
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  #header .wrp .title span {
    font-size: 30px;
  }
  #header .wrp .afterTitle .text {
    font-size: 14px;
    margin-left: 0;
  }
  #header .wrp .des {
    font-size: 14px;
  }
  #header .wrp .lstBtn {
    margin-top: 30px;
  }
  #whyAboutUs .wrp {
    padding-left: 0;
    padding-right: 0;
  }
  #whyAboutUs .wrp .title {
    font-size: 22px;
  }
  #whyAboutUs .wrp .des {
    margin-bottom: 40px;
  }
  #whyAboutUs .wrp .group {
    flex-direction: column;
  }
  #whyAboutUs .wrp .group .left {
    width: 100%;
    margin-bottom: 30px;
  }
  #whyAboutUs .wrp .group .right {
    flex: none;
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  #whyAboutUs .wrp .group .right > .item {
    width: 100%;
    margin-top: 20px;
  }
  #whyAboutUs .wrp .group .lstBtn {
    position: static;
    justify-content: center;
    width: 100%;
  }
  #workProcess .wrp .title {
    font-size: 24px;
    height: 100px;
  }
  #workProcess .wrp .group {
    padding: 20px;
  }
  #workProcess .wrp .group .item .num {
    font-size: 16px;
    width: 35px;
    height: 35px;
  }
  #workProcess .wrp .group .item .text {
    line-height: 1.4;
    padding-left: 8px;
    margin-top: -3px;
  }
  #staff .wrp .group .item {
    width: 100%;
    margin-bottom: 70px;
  }
  #staff .wrp .group .item:last-child {
    margin-bottom: 0;
  }
  #promise {
    padding-top: 40px;
  }
  #promise .wrp .title {
    font-size: 25px;
  }
  #promise .wrp .group {
    gap: 15px;
  }
  #promise .wrp .group .item {
    width: 100%;
  }
  #gallery {
    padding-top: 20px;
  }
  #gallery .wrp {
    flex-wrap: wrap;
    gap: 20px;
  }
  #gallery .wrp .group {
    width: calc((100% - 20px) / 2);
  }
  #contact {
    padding: 30px 0;
  }
  #contact .wrp {
    flex-direction: column;
  }
  #contact .wrp .left {
    padding: 0;
    width: 100%;
    flex: none;
  }
  #contact .wrp .left .office {
    padding: 20px 10px;
  }
  #contact .wrp .left .price {
    justify-content: space-between;
    margin-top: 20px;
  }
  #contact .wrp .left .price .pRight {
    padding-left: 0;
  }
  #contact .wrp .left .price .pRight .newPrice {
    font-size: 20px;
  }
  #contact .wrp .left .price .pRight .oldPrice {
    margin-left: 10px;
  }
  #contact .wrp .left .price .pLeft {
    width: 180px;
  }
  #contact .wrp .left .price .pLeft .cownDown li {
    width: 40px;
    line-height: 40px;
    flex: none;
    font-size: 16px;
  }
  #contact .wrp .right {
    margin-top: 40px;
    flex: none;
    width: 100%;
  }
}/*# sourceMappingURL=css_rwd.css.map */