@charset "UTF-8";
#gallery .wrp .group .owl-nav .owl-prev,
#gallery .wrp .group .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  font-size: 35px;
}
#gallery .wrp .group .owl-nav .owl-prev:before,
#gallery .wrp .group .owl-nav .owl-next:before {
  font-family: "FontAwesome";
  font-weight: 300;
  content: "\f053";
}
#gallery .wrp .group .owl-nav .owl-next.owl-next {
  left: auto;
  right: 5px;
}
#gallery .wrp .group .owl-nav .owl-next.owl-next:before {
  content: "\f054";
}
#gallery .wrp .group .owl-nav .owl-prev:hover,
#gallery .wrp .group .owl-nav .owl-next:hover {
  color: #fff;
}

.noidung {
  width: 100%;
  min-height: 100px;
  text-align: justify;
  line-height: 1.5rem;
}
.noidung * {
  max-width: 100%;
}
.noidung img {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung input[type=image] {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung iframe {
  max-width: 100%;
  margin: auto;
  display: block !important;
}
.noidung video {
  max-width: 100%;
  margin: auto;
  display: block !important;
}
.noidung table {
  margin: auto;
}
.noidung figcaption {
  text-align: center;
}
.noidung .wImage iframe {
  width: 100%;
  height: 100%;
}
.noidung h1 {
  display: block;
  margin: 0.67em 0;
  font-size: 2em;
}
.noidung h2 {
  display: block;
  margin: 0.83em 0;
  font-size: 1.5em;
}
.noidung h3 {
  display: block;
  margin: 1em 0;
  font-size: 1.17em;
}
.noidung h4 {
  display: block;
  margin: 1.33em 0;
}
.noidung h5 {
  display: block;
  margin: 1.67em 0;
  font-size: 0.83em;
}
.noidung h6 {
  display: block;
  margin: 2.33em 0;
  font-size: 0.67em;
}

.noidung1 img {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung1 input[type=image] {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung1 iframe {
  max-width: 100%;
  margin: auto;
  display: block !important;
}
.noidung1 video {
  max-width: 100%;
  margin: auto;
  display: block !important;
}

.noidung.clip .wImage:before {
  padding-bottom: 56.23%;
}

.pagging {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 1.25rem;
  display: flex;
  justify-content: flex-end;
}
.pagging li {
  display: inline-block;
  text-align: center;
  margin: 0 0.3125rem;
}
.pagging li a {
  display: block;
  border: 1px solid #cccccc;
  line-height: 31px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}
.pagging li i {
  font-size: 14px;
}
.pagging li:hover a {
  color: #fff;
  background: #cccccc;
}
.pagging li a.active {
  color: #fff;
  background: #cccccc;
}

.icoNew {
  content: url(icon/ico_new.png);
  vertical-align: sub;
}

body {
  color: #333;
  font: normal 13px Roboto;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
}

/*Bắt buộc để khối này*/
a,
span,
input[type=submit] {
  transition: all 0.3s ease 0s;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

/*Bắt buộc để khối này - end*/
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/*-----------Common-----------*/
/*float*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

/*font-weight*/
.fwb {
  font-weight: bold;
}

.fwn {
  font-weight: normal;
}

/*font-family*/
.ffTahoma {
  font-family: Tahoma;
}

.ffArial {
  font-family: Tahoma;
}

/*font-style*/
.fsti {
  font-style: italic;
}

.fstn {
  font-style: normal;
}

/*font-size*/
.fs9 {
  font-size: 9px;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

/*text-align:*/
.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}

/*text-decoration*/
.tdn {
  text-decoration: none;
}

.tdu {
  text-decoration: underline;
}

/*Margin*/
.m0 {
  margin: 0;
}

.ma {
  margin: auto;
}

/*Display*/
.db {
  display: block;
}

.dn {
  display: none;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

/*Position*/
.psa {
  position: absolute;
}

.psr {
  position: relative;
}

/*z-index*/
.zindex0 {
  z-index: 0;
}

.zindex1 {
  z-index: 1;
}

.zindex2 {
  z-index: 2;
}

.zindex3 {
  z-index: 3;
}

.zindex4 {
  z-index: 4;
}

.zindex5 {
  z-index: 5;
}

/*Over flow*/
.ofh {
  overflow: hidden;
}

.ofa {
  overflow: auto;
}

/*Text transform*/
.ttu {
  text-transform: uppercase;
}

.ttl {
  text-transform: lowercase;
}

/*Opacity*/
.opc0 {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.opc50 {
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.opc80 {
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.opc100 {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.csp {
  cursor: pointer;
}

.bared {
  border: solid 1px red;
}

.bgred {
  background: red;
}

.bgwhite {
  background: white;
}

.cred {
  color: red;
}

.cRed {
  color: red;
}

.c333 {
  color: #333;
}

.cff6600 {
  color: #ff6600;
}

.w940 {
  width: 940px;
}

.w960 {
  width: 960px;
}

.w980 {
  width: 980px;
}

.w1000 {
  width: 1000px;
}

.w1200 {
  width: 1200px;
}

.w1366 {
  width: 1366px;
}

.w1600 {
  width: 1600px;
}

.lh15 {
  line-height: 15px;
}

.lh16 {
  line-height: 16px;
}

.lh17 {
  line-height: 17px;
}

.lh18 {
  line-height: 18px;
}

.lh19 {
  line-height: 19px;
}

.lh20 {
  line-height: 20px;
}

.lh21 {
  line-height: 21px;
}

.lh22 {
  line-height: 22px;
}

.lh26 {
  line-height: 26px;
}

.h0 {
  height: 0px;
}

.h1 {
  height: 1px;
}

.h2 {
  height: 2px;
}

.h3 {
  height: 3px;
}

.h4 {
  height: 4px;
}

.h5 {
  height: 5px;
}

.h6 {
  height: 6px;
}

.h7 {
  height: 7px;
}

.h8 {
  height: 8px;
}

.h9 {
  height: 9px;
}

.h10 {
  height: 10px;
}

.h11 {
  height: 11px;
}

.h12 {
  height: 12px;
}

.h13 {
  height: 13px;
}

.h14 {
  height: 14px;
}

.h15 {
  height: 15px;
}

.h16 {
  height: 16px;
}

.h17 {
  height: 17px;
}

.h18 {
  height: 18px;
}

.h19 {
  height: 19px;
}

.h20 {
  height: 20px;
}

.h21 {
  height: 21px;
}

.h22 {
  height: 22px;
}

.h23 {
  height: 23px;
}

.h24 {
  height: 24px;
}

.h25 {
  height: 25px;
}

.h30 {
  height: 30px;
}

.h35 {
  height: 35px;
}

.h40 {
  height: 40px;
}

/*----------------*/
.pl1o {
  padding-left: 1%;
}

.pl1 {
  padding-left: 1px;
}

.pl2 {
  padding-left: 2px;
}

.pl3 {
  padding-left: 3px;
}

.pl4 {
  padding-left: 4px;
}

.pl5 {
  padding-left: 5px;
}

.pl6 {
  padding-left: 6px;
}

.pl7 {
  padding-left: 7px;
}

.pl8 {
  padding-left: 8px;
}

.pl9 {
  padding-left: 9px;
}

.pl10 {
  padding-left: 10px;
}

.pl11 {
  padding-left: 11px;
}

.pl12 {
  padding-left: 12px;
}

.pl13 {
  padding-left: 13px;
}

.pl14 {
  padding-left: 14px;
}

.pl15 {
  padding-left: 15px;
}

.pl16 {
  padding-left: 16px;
}

.pl17 {
  padding-left: 17px;
}

.pl18 {
  padding-left: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 20px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

/*---------------*/
.pr1 {
  padding-right: 1px;
}

.pr2 {
  padding-right: 2px;
}

.pr3 {
  padding-right: 3px;
}

.pr4 {
  padding-right: 4px;
}

.pr5 {
  padding-right: 5px;
}

.pr6 {
  padding-right: 6px;
}

.pr7 {
  padding-right: 7px;
}

.pr8 {
  padding-right: 8px;
}

.pr9 {
  padding-right: 9px;
}

.pr10 {
  padding-right: 10px;
}

.pr11 {
  padding-right: 11px;
}

.pr12 {
  padding-right: 12px;
}

.pr13 {
  padding-right: 13px;
}

.pr14 {
  padding-right: 14px;
}

.pr15 {
  padding-right: 15px;
}

.pr16 {
  padding-right: 16px;
}

.pr17 {
  padding-right: 17px;
}

.pr18 {
  padding-right: 18px;
}

.pr19 {
  padding-right: 19px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

/*------*/
.pt1 {
  padding-top: 1px;
}

.pt2 {
  padding-top: 2px;
}

.pt3 {
  padding-top: 3px;
}

.pt4 {
  padding-top: 4px;
}

.pt5 {
  padding-top: 5px;
}

.pt6 {
  padding-top: 6px;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt9 {
  padding-top: 9px;
}

.pt10 {
  padding-top: 10px;
}

.pt11 {
  padding-top: 11px;
}

.pt12 {
  padding-top: 12px;
}

.pt13 {
  padding-top: 13px;
}

.pt14 {
  padding-top: 14px;
}

.pt15 {
  padding-top: 15px;
}

.pt16 {
  padding-top: 16px;
}

.pt17 {
  padding-top: 17px;
}

.pt18 {
  padding-top: 18px;
}

.pt19 {
  padding-top: 19px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

/*------------*/
.pb1 {
  padding-bottom: 1px;
}

.pb2 {
  padding-bottom: 2px;
}

.pb3 {
  padding-bottom: 3px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb6 {
  padding-bottom: 6px;
}

.pb7 {
  padding-bottom: 7px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb9 {
  padding-bottom: 9px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb11 {
  padding-bottom: 11px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb13 {
  padding-bottom: 13px;
}

.pb14 {
  padding-bottom: 14px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb17 {
  padding-bottom: 17px;
}

.pb18 {
  padding-bottom: 18px;
}

.pb19 {
  padding-bottom: 19px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

/*-----------Common end--------*/
.thongke {
  background: #f0f0f0;
  color: #000;
  font-size: 0.8125rem;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}
.thongke .lstLeft {
  display: flex;
  align-items: center;
}
.thongke .lstLeft > * {
  margin-right: 0.9375rem;
}
.thongke .lstLeft > *:last-child {
  margin-right: 0;
}
.thongke .cochu {
  display: flex;
  align-items: center;
}
.thongke .cochu span {
  margin-right: 0.625rem;
}
.thongke .cochu span:first-child {
  cursor: pointer;
}
.thongke .cochu span:first-child:hover {
  color: #0d6efd;
}
.thongke .cochu .btnSize {
  width: 1.5625rem;
  height: 1.5625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 0 0.125rem;
  font-size: 0.875rem;
}
.thongke .plugDetail {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.thongke .plugDetail li {
  margin-left: 1.25rem;
  font-size: 1.0625rem;
}
.thongke a:hover {
  color: blue;
}

.noidung {
  line-height: 1.5rem;
  min-height: 3.125rem;
  text-align: justify;
  width: 100%;
  font-size: 1rem;
  padding: 0.625rem;
}
.noidung * {
  max-width: 100%;
}
.noidung img {
  display: block !important;
  height: auto !important;
  margin: auto;
  max-width: 100%;
}
.noidung input[type=image] {
  display: block !important;
  height: auto !important;
  margin: auto;
  max-width: 100%;
}
.noidung iframe {
  display: block !important;
  margin: auto;
  max-width: 100%;
}
.noidung video {
  display: block !important;
  margin: auto;
  max-width: 100%;
}
.noidung table {
  margin: auto;
}
.noidung figcaption {
  text-align: center;
}
.noidung .wImage iframe {
  height: 100%;
  width: 100%;
}
.noidung h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
}
.noidung h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
}
.noidung h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
}
.noidung h4 {
  display: block;
  margin: 1.33em 0;
}
.noidung h5 {
  display: block;
  font-size: 0.83em;
  margin: 1.67em 0;
}
.noidung h6 {
  display: block;
  font-size: 0.67em;
  margin: 2.33em 0;
}
.noidung span {
  display: inline-block;
}

.noidung.sapo {
  font-weight: bold;
  padding-bottom: 0;
}

.noidung1 img {
  display: block !important;
  height: auto !important;
  margin: auto;
  max-width: 100%;
}
.noidung1 input[type=image] {
  display: block !important;
  height: auto !important;
  margin: auto;
  max-width: 100%;
}
.noidung1 iframe {
  display: block !important;
  margin: auto;
  max-width: 100%;
}
.noidung1 video {
  display: block !important;
  margin: auto;
  max-width: 100%;
}
.noidung1 span {
  display: inline-block;
}

.noidung.clip .wImage:before {
  padding-bottom: 56.23%;
}

.tab-content .tab {
  display: none;
}
.tab-content .tab.active {
  display: block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
a span {
  transition: none;
}

* {
  box-sizing: border-box;
}

.wImage {
  overflow: hidden;
  position: relative;
}
.wImage:before {
  content: "";
  display: block;
  padding-bottom: 66.66%;
}
.wImage .image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wImage .image img {
  -moz-transform: translateY(-50%) translateX(-50%);
  -moz-transition: 0.5s all ease-in-out;
  display: block;
  left: 50%;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.5s all ease-in-out;
  vertical-align: middle;
}
.wImage .image img.owl-lazy {
  -moz-transform: translateY(-50%) translateX(-50%);
  -moz-transition: 0.5s all ease-in-out;
  display: block;
  left: 50%;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.5s all ease-in-out;
  vertical-align: middle;
}
.wImage .image.cover img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#overlay {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

span a {
  transition: none;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background-color: #0b023d;
}

.wrp {
  max-width: 100%;
  width: 960px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.lstBtn {
  display: flex;
  align-items: flex-start;
}
.lstBtn .itemBtn {
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  height: 40px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  background: rgb(244, 191, 109);
  background: linear-gradient(90deg, rgb(244, 191, 109), rgb(255, 249, 201));
  color: rgb(11, 2, 61);
  border-radius: 20px;
}
.lstBtn .itemBtn:last-child {
  margin-right: 0;
}
.lstBtn .itemBtn .icon {
  width: 40px;
  height: 40px;
}
.lstBtn .itemBtn .text {
  padding-left: 15px;
  padding-right: 40px;
}
.lstBtn .itemBtn .text span.item {
  display: inline-block;
}
.lstBtn .itemBtn .text span.item.in {
  -webkit-animation: ah-rotate-3-in 0.6s forwards;
  animation: ah-rotate-3-in 0.6s forwards;
}
.lstBtn .itemBtn .text span.item.out {
  -webkit-animation: ah-rotate-3-out 0.6s forwards;
  animation: ah-rotate-3-out 0.6s forwards;
}

.dn {
  display: none;
}

#whyAboutUs .group .right > .item .des, #whyAboutUs .des {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}

#promise .title, #workProcess .wrp .title, #whyAboutUs .group .right > .item .head, #whyAboutUs .title {
  font-family: "Paytone One", sans-serif;
  color: rgb(255, 248, 201);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.4;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 2s 1s all linear;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}
.shape.shape-1 {
  width: 73.5px;
  height: 73.5px;
  top: 50.872px;
  left: -45.5px;
}
.shape.shape-2 {
  width: 193px;
  height: 193px;
  top: 319.933px;
  left: -278.5px;
}
.shape.shape-3 {
  width: 388px;
  height: 388px;
  top: -262.451px;
  left: 979px;
}
.shape.shape-4 {
  width: 421.534px;
  height: 386.533px;
  top: -99.718px;
  left: -390.319px;
  transform: rotate(52deg);
  -webkit-transform: rotate(52deg);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 70px;
}
.shape.shape-5 {
  width: 474.39px;
  height: 435px;
  top: -278.487px;
  left: 977.99px;
  transform: rotate(28deg);
  -webkit-transform: rotate(28deg);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 70px;
}
.shape.shape-6 {
  width: 388px;
  height: 388px;
  top: -117.65px;
  left: -357.96px;
}
.shape.shape-7 {
  width: 411.85px;
  height: 411.85px;
  top: -240.05px;
  left: 1013px;
}
.shape.shape-8 {
  width: 240px;
  height: 240px;
  top: 15.95px;
  left: -178px;
}
.shape.shape-9 {
  width: 261.223px;
  height: 239.533px;
  top: 227.497px;
  left: 538.681px;
  transform: rotate(52deg);
  -webkit-transform: rotate(52deg);
  opacity: 0.3;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 70px;
}

#header {
  position: relative;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(../pic/bgHead.jpg);
  background-position: left top;
  background-repeat: repeat;
  margin-bottom: 20px;
}
#header:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(11, 2, 61, 0.9);
  background: radial-gradient(circle, rgba(11, 2, 61, 0.9), rgb(10, 1, 61));
  position: absolute;
  top: 0;
  left: 0;
}
#header .wrp {
  z-index: 2;
}
#header .wrp .logo {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(211, 211, 211);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  text-transform: uppercase;
  min-height: 120px;
}
#header .wrp .logo > * {
  max-width: 100%;
}
#header .wrp .title span {
  text-transform: uppercase;
  font-family: "Paytone One", sans-serif;
  background: rgb(255, 249, 201);
  background: linear-gradient(180deg, rgb(255, 249, 201), rgb(244, 191, 109));
  color: rgb(244, 191, 109);
  font-size: 69px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.4;
  filter: drop-shadow(rgb(138, 70, 1) -2px 2px 0px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#header .wrp .title span:first-child {
  position: relative;
}
#header .wrp .title span:first-child::before {
  content: "";
  position: absolute;
  width: 1370px;
  max-width: 100vw;
  background: rgba(253, 251, 251, 0);
  background: linear-gradient(90deg, rgba(253, 251, 251, 0), rgba(255, 255, 255, 0.1));
  height: 100%;
  top: 0;
  left: 50%;
  display: block;
  pointer-events: none;
  z-index: -1;
  transform: translateX(-50%);
}
#header .wrp .afterTitle {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 25px;
}
#header .wrp .afterTitle .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: -12px;
}
#header .wrp .afterTitle .text {
  margin-left: 5px;
}
#header .wrp .des {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
}
#header .wrp .lstBtn {
  margin-top: 50px;
  justify-content: center;
}
#header .wrp .scrollDown {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
}
#header .wrp .scrollDown .icon {
  width: 35px;
  height: 35px;
}

#whyAboutUs .wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#whyAboutUs .title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
#whyAboutUs .title:after {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-bottom: 2px solid rgb(221, 221, 221);
  width: 95px;
  transform: translateX(-50%);
}
#whyAboutUs .des {
  margin-bottom: 95px;
  width: 537px;
  max-width: 100%;
  margin-bottom: 95px;
  max-width: 100%;
}
#whyAboutUs .group {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
#whyAboutUs .group .left {
  width: 315px;
  max-width: 100%;
}
#whyAboutUs .group .left .wImage:before {
  padding-bottom: 151.746031746%;
}
#whyAboutUs .group .right {
  flex: 1;
  padding-left: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  align-items: flex-start;
}
#whyAboutUs .group .right > .item {
  width: calc((100% - 40px) / 2);
  background-color: #fff;
  border-width: 1px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  color: rgb(38, 40, 53);
}
#whyAboutUs .group .right > .item .num {
  position: absolute;
  color: rgb(220, 151, 81);
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  top: 0;
  transform: translateY(-75%);
  z-index: -1;
}
#whyAboutUs .group .right > .item .head {
  font-size: 18px;
  margin-bottom: 3px;
  color: inherit;
  text-align: left;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0;
}
#whyAboutUs .group .right > .item .des {
  color: inherit;
  text-align: left;
  margin-bottom: 0;
}
#whyAboutUs .group .right > .item:nth-child(2n) {
  margin-top: 30px;
}
#whyAboutUs .group .right .lstBtn {
  position: absolute;
  bottom: 10px;
  left: 70px;
}

#workProcess {
  border-radius: 15px;
  margin-top: 125px;
  margin-bottom: 110px;
}
#workProcess .wrp .title {
  height: 175px;
  background: url(../pic/bgProcess.jpg) top left no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}
#workProcess .wrp .title span {
  position: relative;
  z-index: 3;
}
#workProcess .wrp .title:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(38, 40, 53, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
#workProcess .group {
  background: #fff;
  padding: 40px 50px;
  margin-bottom: 50px;
}
#workProcess .group .item {
  display: flex;
  margin-bottom: 15px;
}
#workProcess .group .item:last-child {
  margin-bottom: 0;
}
#workProcess .group .item .num {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 40, 53);
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 247, 201);
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}
#workProcess .group .item .text {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 13px;
  color: rgb(38, 40, 53);
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  flex-wrap: wrap;
}
#workProcess .lstBtn {
  justify-content: center;
}

#staff {
  padding-bottom: 45px;
  background-image: url(../pic/bgStaff.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  position: relative;
}
#staff:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(11, 2, 61, 0.9);
  background: radial-gradient(circle, rgba(11, 2, 61, 0.9), rgb(11, 2, 61));
}
#staff .wrp {
  position: relative;
  z-index: 2;
}
#staff .wrp .group {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
#staff .wrp .group .item {
  width: calc((100% - 80px) / 2);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(220, 151, 81);
  border-width: 2px;
  border-radius: 10px;
  position: relative;
  padding-top: 80px;
}
#staff .wrp .group .item .wImage {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  width: 127px;
  max-width: 100%;
  border-radius: 50%;
  background: rgb(255, 249, 201);
  background: linear-gradient(180deg, rgb(255, 249, 201), rgb(244, 191, 109));
}
#staff .wrp .group .item .wImage:before {
  padding-bottom: 100%;
}
#staff .wrp .group .item .wImage > a.image {
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  border-radius: 50%;
  overflow: hidden;
  top: 7px;
  left: 7px;
}
#staff .wrp .group .item .info {
  padding: 0 35px 20px 35px;
}
#staff .wrp .group .item .info .name {
  color: rgb(41, 45, 64);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
}
#staff .wrp .group .item .info .job {
  color: rgb(220, 151, 81);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin-top: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(39, 41, 54, 0.1);
}
#staff .wrp .group .item .info .list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
#staff .wrp .group .item .info .list li {
  padding-bottom: 7px;
  position: relative;
  counter-increment: linum;
  text-transform: uppercase;
}
#staff .wrp .group .item .info .list li:before {
  content: "";
  background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20%20viewBox%3D%220%200%201792%201896.0833%22%20fill%3D%22rgba(36%2C%2036%2C%2036%2C%201.0)%22%3E%20%3Cpath%20d%3D%22M1671%20566q0%2040-28%2068l-724%20724-136%20136q-28%2028-68%2028t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28%2068-28t68%2028l294%20295%20656-657q28-28%2068-28t68%2028l136%20136q28%2028%2028%2068z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
  width: 15px;
  height: 15px;
  top: 3px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: -20px;
  display: block;
  position: absolute;
}

#promise {
  padding-top: 45px;
}
#promise .wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
#promise .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
#promise .des {
  color: rgb(255, 249, 201);
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  position: relative;
  padding: 0 40px;
  padding-bottom: 10px;
}
#promise .des:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#promise .group {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 15px;
}
#promise .group .item {
  background: rgb(255, 255, 255);
  padding: 25px 5px 25px 15px;
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  align-items: center;
}
#promise .group .item .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgb(38, 40, 53);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#promise .group .item .icon svg {
  width: 21px !important;
  height: 21px !important;
}
#promise .group .item .info {
  display: flex;
  flex: 1;
  padding-left: 8px;
  flex-direction: column;
}
#promise .group .item .info .num {
  color: rgb(200, 31, 23);
  font-size: 42px;
  text-align: left;
  line-height: 1;
  font-weight: 700;
}
#promise .group .item .info .content {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
}

#gallery {
  padding-top: 40px;
}
#gallery .wrp {
  display: flex;
  gap: 5px;
}
#gallery .wrp .group {
  width: calc((100% - 15px) / 4);
}
#gallery .wrp .group .wImage:before {
  padding-bottom: 177.5423728814%;
}
#gallery .wrp .group .owl-nav {
  display: none;
}
#gallery .wrp .group:hover .owl-nav {
  display: block;
}

#contact {
  margin-top: 40px;
  position: relative;
  padding: 60px 0 85px 0;
  background: url(../pic/bgContact.jpg) center top no-repeat;
  background-size: cover;
}
#contact:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(11, 2, 61, 0.9), rgb(11, 2, 61));
  pointer-events: none;
}
#contact .wrp {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}
#contact .wrp .right {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 360px;
  overflow: hidden;
  padding: 30px 25px;
  background: rgb(220, 151, 81);
  background: linear-gradient(180deg, rgb(220, 151, 81), rgb(11, 2, 61));
}
#contact .wrp .right .title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  text-transform: uppercase;
}
#contact .wrp .right .des {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  text-align: center;
  margin: 10px 0 30px 0;
}
#contact .wrp .right .form .item {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 7px;
  outline: none;
  font-size: 15px;
}
#contact .wrp .right .form .btnSubmit {
  margin-top: 10px;
  background-color: rgb(255, 203, 119);
  height: 45px;
  width: 100%;
  font-weight: bold;
  color: rgb(4, 1, 100);
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
}
#contact .wrp .right .form .textLast {
  margin-top: 20px;
  padding: 0 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: center;
  line-height: 1.6;
}
#contact .wrp .left {
  flex: 1;
  padding-right: 50px;
}
#contact .wrp .left .wImage {
  border-radius: 10px;
  margin-bottom: 20px;
}
#contact .wrp .left .wImage::before {
  padding-bottom: 49.63%;
}
#contact .wrp .left .cmTitle {
  padding-left: 18px;
  padding-top: 18px;
  position: relative;
}
#contact .wrp .left .cmTitle .title {
  font-family: "Paytone One", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
#contact .wrp .left .cmTitle .title:after {
  content: "";
  width: 106px;
  position: absolute;
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 1px;
  display: block;
  bottom: 0;
  left: 0;
}
#contact .wrp .left .cmTitle .icon {
  pointer-events: none;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
#contact .wrp .left .des {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.6;
}
#contact .wrp .left .price {
  margin-top: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#contact .wrp .left .price .pLeft {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .wrp .left .price .pLeft .pTitle {
  color: rgb(255, 255, 255);
}
#contact .wrp .left .price .pLeft .cownDown {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
#contact .wrp .left .price .pLeft .cownDown li {
  flex: 1;
  color: rgb(36, 36, 36);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 52.5px;
}
#contact .wrp .left .price .pRight {
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contact .wrp .left .price .pRight .oldPrice {
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: center;
  line-height: 1.6;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 74px;
  padding: 0 20px;
  margin-left: 15px;
}
#contact .wrp .left .price .pRight .newPrice {
  color: rgb(36, 36, 36);
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  background-color: rgb(255, 203, 119);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 40px;
  margin-top: 5px;
  background: rgb(244, 191, 109);
  background: linear-gradient(90deg, rgb(244, 191, 109), rgb(255, 248, 201));
  border-radius: 74px;
}
#contact .wrp .left .office {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(253, 251, 251, 0);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
}
#contact .wrp .left .office .item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#contact .wrp .left .office .item:last-child {
  margin-bottom: 0;
}
#contact .wrp .left .office .item .num {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(244, 191, 109);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(36, 36, 36);
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
#contact .wrp .left .office .item .info {
  flex: 1;
  padding-left: 15px;
}
#contact .wrp .left .office .item .info .name {
  font-weight: 700;
  color: rgb(244, 191, 109);
  font-size: 16px;
  line-height: 1.6;
}
#contact .wrp .left .office .item .info .addr {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.6;
}
#contact .wrp .left .office .item:nth-child(2) .num {
  background: rgb(255, 248, 201);
}/*# sourceMappingURL=style.css.map */