@import "common.scss";
@import "display.scss";

* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background-color: #0b023d;
}
.wrp {
  max-width: 100%;
  width: 960px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.lstBtn {
  display: flex;
  align-items: flex-start;
  .itemBtn {
    display: inline-flex;
    color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    width: 187px;
    height: 45px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 5px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    &.active {
      background-color: rgb(255, 203, 119);
      color: rgb(36, 36, 36);
      border-color: rgb(255, 203, 119);
    }
    span {
      &.in {
        -webkit-animation: ah-rotate-3-in 0.6s forwards;
        animation: ah-rotate-3-in 0.6s forwards;
      }
      &.out {
        -webkit-animation: ah-rotate-3-out 0.6s forwards;
        animation: ah-rotate-3-out 0.6s forwards;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.dn {
  display: none;
}
%des {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}
%title {
  font-family: "Paytone One", sans-serif;
  color: rgb(255, 248, 201);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.4;
}
.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 2s 1s all linear;
  pointer-events: none;
  position: absolute;
  &.shape-1 {
  }
}
#header {
  position: relative;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(../pic/bgHead.jpg);
  background-position: left top;
  background-repeat: repeat;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(11, 2, 61, 0.9);
    background: -webkit-radial-gradient(
      circle,
      rgba(11, 2, 61, 0.9),
      rgba(10, 1, 61, 1)
    );
    background: radial-gradient(
      circle,
      rgba(11, 2, 61, 0.9),
      rgba(10, 1, 61, 1)
    );
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrp {
    z-index: 2;
    .logo {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(211, 211, 211);
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      line-height: 1.6;
      text-transform: uppercase;
      min-height: 120px;
      > * {
        max-width: 100%;
      }
    }
    .title {
      text-transform: uppercase;
      font-family: "Paytone One", sans-serif;
      background: rgba(255, 249, 201, 1);
      background: -webkit-linear-gradient(
        180deg,
        rgba(255, 249, 201, 1),
        rgba(244, 191, 109, 1)
      );
      background: linear-gradient(
        180deg,
        rgba(255, 249, 201, 1),
        rgba(244, 191, 109, 1)
      );
      color: rgb(244, 191, 109);
      font-size: 69px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2px;
      line-height: 1.4;
      filter: drop-shadow(rgb(138, 70, 1) -2px 2px 0px);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .afterTitle {
      font-family: "Montserrat", sans-serif;
      color: rgb(255, 255, 255);
      font-size: 18px;
      text-align: left;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 25px;
      .icon {
        width: 24px;
        height: 24px;
        display: inline-block;
      }
    }
    .des {
      color: rgb(255, 255, 255);
      font-size: 16px;
      text-align: center;
      line-height: 1.6;
    }
    .lstBtn {
      margin-top: 50px;
      justify-content: center;
    }
  }
}
#whyAboutUs {
  .wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    @extend %title;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    &:after {
      content: "";
      height: 1px;
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      border-bottom: 2px solid rgb(221, 221, 221);
      width: 95px;
      transform: translateX(-50%);
    }
  }
  .des {
    @extend %des;
    margin-bottom: 95px;
    width: 537px;
    max-width: 100%;
    margin-bottom: 95px;
  }
  .group {
    display: flex;
    align-items: flex-start;
    .left {
      width: 315px;
      max-width: 100%;
      .wImage {
        &:before {
          padding-bottom: wImage(478, 315);
        }
      }
    }
    .right {
      flex: 1;
      padding-left: 70px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      position: relative;
      align-items: flex-start;
      > .item {
        width: calc((100% - 40px) / 2);
        background-color: #fff;
        border-width: 1px;
        padding: 20px;
        position: relative;
        margin-bottom: 20px;
        color: rgb(38, 40, 53);
        .num {
          position: absolute;
          color: rgb(220, 151, 81);
          font-size: 46px;
          font-weight: bold;
          text-align: center;
          line-height: 1.2;
          top: 0;
          transform: translateY(-75%);
          z-index: -1;
        }
        .head {
          @extend %title;
          font-size: 18px;
          margin-bottom: 3px;
          color: inherit;
          text-align: left;
          font-family: Montserrat, sans-serif;
          letter-spacing: 0;
        }
        .des {
          @extend %des;
          color: inherit;
          text-align: left;
          margin-bottom: 0;
        }
        &:nth-child(2n) {
          margin-top: 30px;
        }
      }
      .lstBtn {
        position: absolute;
        bottom: 10px;
        left: 70px;
      }
    }
  }
}
